<div>
  <ul>
    <li><p><b>1,826</b> children were supervised in <b>95</b> districts the last week of April.</p></li>
  </ul>

    <div class="iframe">
    <iframe title="How are districts providing child care?" aria-label="chart" id="datawrapper-chart-ruo4I" src="https://datawrapper.dwcdn.net/ruo4I/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="645"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
</script>
  </div>

  <div class="date">Responses are from the week of April 26 to May 2.</div>

</div>
