<div>
  <div class="question">How many students have access to a desktop or laptop computer?</div>
  <div class="answer"><li>Out of 240 districts that responded, <b>64</b> said that
    <b>fewer than 50%</b> of their students had a <b>desktop or laptop computer</b> at home.</li></div>

  <div class="question">How many students have access to an internet-enabled phone or tablet?</div>
  <div class="answer"><li>Out of 214 responding districts, 90 districts believed that <b>fewer than 50%</b> of their students
    had an <b>internet-enabled phone or tablet</b> at home.</li></div>




  <iframe title="How are districts helping students get internet access?" aria-label="chart" id="datawrapper-chart-zvq3A" src="https://datawrapper.dwcdn.net/zvq3A/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
</script>

<div class="date">Responses are from the week of April 12 to 18.</div>

</div>
